body {
    padding: 24px;
}

.group-permission {
    margin: 24px 0 0 0;
}

.permissions {
    margin: 8px 0 0 8px;
}

.checkbox {
    margin-top: 4px;
}

.bold {
    font-weight: bold;
    font-size: 24px;
}
